body {
	width:80%;
}
.text input {
    width:95%;
    padding:8px;
    border:2px solid #cce;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}

.typingText{
	font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}

.correct {
	color:#31B404;
	font-size: 40px;
}

.error {
	color:#FF0000;
	font-size: 40px;
}
